

#TrafficTop{
    background-color: black;
    width: 10px;
    height: 40px;
    margin-left: 75px;
}

#container{
    background-color: black;
    width: 60px;
    height: 170px;
    margin-left: 50px;
    padding: 7px;
    border-radius: 10px;
}

.light{
    width: 50px;
    height: 50px;
    margin: auto;
    border-radius: 50%;
    padding: 4px;
    cursor: pointer;
    &.red {background-color: #990000;}
    &.yellow {background-color: #cc6600;}
    &.green {background-color: #009933;}
    &.selected {box-shadow: #f8ffcc 0px 0px 50px 20px;}
}